.grid-item {
    position: relative;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 2px;
    font-size: 12px;
    height: 30px;
    text-align: center;
}

.grid-item:hover {
    border: 2px solid #3cb44b;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 70px);
    padding: 2x;
    width: 100%;
}

.action-btn {
    position: absolute;
    bottom: 0px;
    right: 2%;
    background: green;
    position: relative;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 2px;
    font-size: 12px;
    height: 30px;
    text-align: center;
}
.action-btn-hide {
    position: absolute;
    bottom: 0px;
    right: 2%;
    background: rgb(152, 143, 9);
    position: relative;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 2px;
    font-size: 12px;
    height: 30px;
    text-align: center;
    width: 40px;
}

.action-btn-hide:hover {
    background-color: red;
}
.action-btn:hover {
    background-color: #4363d8;
    color: #80b9ea;
    border: 2px solid #80b9ea;
}